@model ApplicationCore.Models.MovieDetailsModel

<div class="container-fluid">
    <div class="row bg-dark text-white" id="movie_title">
        @*movie poster*@
        <div class="d-flex col-5 justify-content-center">
            <img src="@Model.PosterUrl" class="img-fluid" />
        </div>
       @* mid-section*@
        <div class="col-5 ps-4 pe-4">
            <div class="row">
                <h2>@Model.Title</h2>
            </div>
            <div class="row">
                <p class="text-secondary">@Model.Tagline</p>
            </div>
            <div class="row">
                <div class="col h-10">
                    <p class="text-secondary fw-bold h-100">@Model.RunTime m | @(Model.ReleaseDate != null ? Model.ReleaseDate.Value.Year : 9999)</p>
                </div>
                <div class="col h-10 justify-content-end">
                    @*<ul class="list-group-horizontal border-0">
                        @foreach (var genre in Model.Genres)
                        {
                            <li class="list-group-item">
                                <h6>
                                    <span class="badge bg-secondary rounded-pill">
                                        @genre.Name
                                    </span>
                                </h6>
                            </li>
                        }
                    </ul>*@
                    @foreach (var genre in Model.Genres)
                    {
                        <span class="badge bg-secondary rounded-pill">
                            @genre.Name
                        </span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <h4>
                        <span class="badge bg-secondary">
                            @Model.Rating
                        </span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Model.Overview
                </div>
            </div>
        </div>
       @*review and buy*@
        <div class="col-2 justify-content-center pt-5">
            <div class="flex-row d-flex justify-content-center mb-4">
                <button class="btn btn-primary w-100" type="button" data-bs-toggle="modal" data-bs-target="#reviewModal">Review</button>
                
                <div class="modal fade text-black" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="reviewModalLabel">Write a Review</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <label for="ratingRadio">Rating</label>
                          <div class="form-group" id="ratingRadio">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                1
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                2
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                              <label class="form-check-label" for="flexRadioDefault3">
                                3
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                              <label class="form-check-label" for="flexRadioDefault4">
                                4
                              </label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" checked>
                              <label class="form-check-label" for="flexRadioDefault5">
                                5
                              </label>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="reviewTextArea" class="col-form-label">Review</label>
                            <textarea class="form-control" id="reviewTextArea"></textarea>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button> @*HTTPost functionality not implemented*@
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="flex-row d-flex justify-content-center">
                <button class="btn btn-secondary w-100" type="button">Buy $@Model.Price</button>
            </div>
            
        </div>
    </div>
    <div class="row" id="movie_content">

    </div>

</div>